{% extends "base.html" %}
{% block title %}Создание нового поста{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="row justify-content-left">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">Новый пост</div>
                <div class="card-body">
                    <div class="form-group row">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Добавить"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <br>
    <div class="alert alert-info" role="alert">
        Вы обратились к странице, доступ к которой возможен только для 
        залогиненных пользователей.<br>
        Пожалуйста, авторизуйтесь.
    </div>
{% endif %}

{% endblock content %}